@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap');

body {
  background-image: url();
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 4px;*/
}
/* Logo */
#logo {
    float: left; 
    font-size: 250%;
    margin-top: 2px;
}
/* Quiz Buttons */
/* .btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #1C8215;
    border-radius: 0.6em;
    color: #1C8215;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family:'Fredoka One', cursive;
    font-weight: 700;
  }
  
  .option {
    border-color: #77F06E;
    color: #1C4D18;
    box-shadow: 0 0 40px 40px #77F06E inset, 0 0 0 0 #77F06E;
    transition: all 150ms ease-in-out;
  }
  .option:hover {
    box-shadow: 0 0 10px 0 #77F06E inset, 0 0 10px 4px #77F06E;
  }

  .container {
    height: 200px;
    position: relative;
  }
  
  .quiz-options {
  margin: 0;
  margin-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }*/
/* Footer */
  /*footer {
    height: 100px;
    background-color: #1C4D18;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
 
}

.social-networks {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    top: 15px;
    position: relative;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #77F06E;
}

.social-networks a:hover i {
    transform: rotate(-20deg) scale(2);
    color: #2EFC00;
}

.hide {
  display: none;
}*/

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

/* Logo */
 

.img-wrapper{
  margin: 0 auto;
  display: block;
  position: relative;
  width: 250px;
  height: 150px;
  border: 1px solid #dcdcdd;
  padding: 10px;
  overflow: hidden;
}
.img-wrapper img{
  margin: auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 150px;
}


.greeting {
  height: 200px;
    position: relative;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  height:auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.picture {
  width: 400px;
  height: 350px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal CSS started from w2schools.com/howto/howto_css_modals.css and modified to match my styles */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
 
}


.hide {
  display: none;
}


/*Mobile Responsive*/

/*@media screen and (max-width: 800px){
  #logo {
    font-size: 100%;
}
  
  .btn {
    height: 10%;
    font-size: 1rem;
    width: 100%; 
  }
  .container {
    height: 300px;
  }
}*/